[submodule "emacs-elixir"]
	path = emacs-elixir
	url = https://github.com/elixir-lang/emacs-elixir.git
[submodule "editorconfig-emacs"]
	path = editorconfig-emacs
	url = https://github.com/editorconfig/editorconfig-emacs.git
